@media screen and (max-width: 480px){
	#paper {
		width: 100%
	}
	#header {
		width: 100%;
		text-align: left;
		margin: 0;
	}
	div#contacts {
		width: 100%;
		border-top: 3px solid black;
		border-bottom: 1px solid black;
	}
	ul#contact {
		display: inline-block;
		list-style-type: none;
		border: none;
		margin: 5px 0;
	}
	#leftwing {
		width: 100%;
		border: none;
	}
	#rightwing {
		width: 100%;
		border: none;
	}
}

@media screen and (max-width: 840px){
		#paper {
		width: 100%
	}
	#header {
		width: 100%;
		text-align: left;
		margin: 0;
	}
	div#contacts {
		width: 100%;
		border-top: 3px solid black;
		border-bottom: 1px solid black;
	}
	ul#contact {
		display: inline-block;
		list-style-type: none;
		border: none;
		margin: 5px 0;
	}
	
}